body {
  margin: 0;
  padding: 0;
  background: #000;
  font-weight: normal;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

h2, h3, h4, h5, h6, p {
  // height: 64px;
  margin: 0;
}

p {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

.app {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .logo {
    padding: 13px 0 13px 60px;
    img {
      height: 42px;
    }
  }

  .menu {
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    color: rgb(242, 242, 242);
    font-size: 0.8rem;
    line-height: 1.5em;
    background-color: transparent;

    > div {
      margin-left: 2.4rem;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .first {
      //position: relative;

    }

    .buy-ticket {
      width: 124px;
      height: 42px;
      border-radius: 42px;
      line-height: 68px;
      text-align: center;
      background: linear-gradient(90deg, #912C36, #D96D21);
    }
  }
}

.banner {
  height: 51.35vw;
  max-width: 1665px;
  max-height: 855px;
  margin: auto;

  img {
    width: 100%;
  }
}

.description {
  margin-top: 3.15rem;
  color: #fff;
  text-align: center;

  p {
    font-size: 0.9rem;
    line-height: 2em;
    letter-spacing: 6px;
    & + p {
      margin-top: 20px;
    }
  }
}

.content {
  width: 100%;
  max-width: 1470px;
  margin: auto;
  padding: 0 105px 0 105px;
  box-sizing: border-box;

}

.meet-model {
  padding-top: 10rem;

  .detail {
    font-size: 0;
    position: relative;
    padding-top: 49.77%;
    overflow: hidden;
    margin-bottom: 4rem;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .content-test {
      position: absolute;
      bottom: 0;
      width: 28.48%;
      color: rgb(242, 242, 242);

      p {
        //font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.875em;
        margin-bottom: 3rem;
      }

      .btn-default {
        width: 11.5rem;
        font-size: 1rem;
        line-height: 1em;
        text-align: center;
        border: 2px solid #fff;
        padding: 1rem 0;
      }
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p {
        text-align: right;
      }

      .btn-default {
      }
    }

  }

  .guest-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 -50px;
    position: relative;
    left: -50px;

    .guest-content {
      width: calc(100% - 200px);
      flex-grow: 1;
      color: #fff;
      font-size: 0;
      white-space: nowrap;

      .guest-item {
        width: 23%;
        margin-right: 2.3%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: text-top;

        .cover {
          position: relative;
          font-size: 0;
          padding-top: 70%;
          background-color: #f2f2f2;
          overflow: hidden;

          img {
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
          }
        }
        h4 {
          margin: 20px 0 8px 0;
          font-size: 1.2rem;
          line-height: 1em;
        }
        p {
          white-space: normal;
          font-size: 0.8rem;
          line-height: 1.5em;
        }
      }
    }
    .control {
      width: 100px;
      //height: 100px;

      > div {
        width: 62px;
        height: 62px;
        border-radius: 56px;
      }
    }

    .own{
      height: 72px;
    }

    .pre {
      margin: 0 24px 0 auto;
      background: url("../image/icon@2x.png");
      background-position: 329px 62px;
      background-size: 165px 273px;
      position: absolute;
      left: 16px;
      top: 19%;
    }

    .next {
      margin: 0 auto 0 0;
      background: url("../image/icon@2x.png");
      background-position: 239px 60px;
      background-size: 165px 273px;
      position: absolute;
      right: 26px;
      top: 19%;
    }
  }
}

.map {
  padding-top: 9rem;

  h2 {
    // height: 64px;
    margin: 0;
  }

  .title-bg {
    width: 255px;
    height: 64px;
    background-position: 1px 1px;
  }

  .img-content {
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .img {
      width: 62%;
      position: relative;
      flex: 0 0 auto;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        z-index: -1;
      }
    }

    .map-desc {
      box-sizing: border-box;
      width: 38%;
      color: #fff;
      flex: 0 0 auto;
      padding: 1.5rem 54px 3.45rem 83px;
      background: linear-gradient(90deg, #912C36, #D96D21);

      h4 {
        margin: 1.8rem 0 0 0;
        font-size: 1.2rem;
        line-height: 0.91em;
        position: relative;

        .icon {
          position: absolute;
        }
        .icon-addr {
          left: -38px;
          top: -4px;
        }
        .icon-car {
          left: -38px;
          top: -8px;
        }
        .icon-bus {
          top: -3px;
          left: -35px;
        }
      }
      p {
        margin: 0.6rem 0 0 0;
        font-size: 0.8rem;
        line-height: 1.75em;
      }
      .more {
        font-size: 0.7rem;
        line-height: 1.5em;
        margin-top: 1.8rem;
        font-weight: 100;
      }
    }
  }
}

.link {
  background: url("../image/link-bg-b.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 195px 0 105px 0;

  .title-bg {
    width: 254px;
    height: 64px;
    background-position: 0px -129px;
  }

  .email-list {
    margin-top: 88px;
    display: flex;
    color: #fff;

    a {
      margin-right: 80px;
      width: 29%;
    }

    .link-btn {
      box-sizing: border-box;
      font-size: 1rem;
      line-height: 1em;
      background: linear-gradient(90deg, #912C36, #D96D21);
    }
  }

  .about {
    margin-top: 200px;
    width: 254px;
    height: 64px;
    background-position: 0px -255px;
  }

  .about-content {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;

    > div {
      width: 29%;
    }

    h4 {
      margin: 0 0 0 0;
      font-size: 1.1rem;
      line-height: 1em;

      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 24px;
        background-color: #fff;
        margin-right: 6px;
        position: relative;
        top: 4px;
      }
    }
    p {
      font-size: 0.8rem;
      line-height: 1.75em;
      margin: 28px 0 0 0;
      font-weight: 200;
    }
    .about-left {
    }

    .about-middle {
      .about-btn {
        color: #fff;
        margin-top: 2.2rem;
        font-size: 1em;
        line-height: 1em;
        background: linear-gradient(90deg, #912C36, #D96D21);
      }
    }

    .qrcode {
      margin-top: 2.2rem;
      height: 10rem;
      width: 10rem;
      background-color: #f2f2f2;
      font-size: 0;

      img {
        width: 100%;
      }
    }

  }

}

.review {
  margin-top: 64px;

  .title-bg {
    width: 254px;
    height: 64px;
    background-position: 0px -372px;
  }

  .review-content {
    margin-top: 70px;
    height: 40rem;
    display: flex;
    justify-content: space-between;

    > .guest {
      width: 24%;

      &:nth-child(1) {
        align-self: flex-end;
      }
      &:nth-child(3) {
        align-self: flex-end;
      }
      &:nth-child(4) {
        align-self: flex-end;
      }

      .guest-header {
        background: linear-gradient(90deg, #912C36, #D96D21);
        box-sizing: border-box;
        padding: 11px 84px 11px 24px;
        font-size: 1.1rem;
        line-height: 1.36em;
        border: none;
        color: #fff;
      }

      .cover {
        width: 100%;
        font-size: 0;
        position: relative;
        padding-top: 149.05%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          overflow: hidden;
        }

        .no {
          position: absolute;
          bottom: -40px;
          left: 24px;
          font-size: 4rem;
          font-weight: bold;
          z-index: 1;
        }
      }

      .guest-desc {
        margin: 2rem 0 0 0;
        color: #fff;
        font-size: 0.9rem;
        line-height: 1.5em;
      }

      .btn {
        margin-top: 4rem;
      }

      .margin {
        margin-top: 7.8rem;
      }

    }
  }

  .review-hall {
    margin-top: 210px;

    .hall-top {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .hall-left {
        width: 69%;
        border-right: 10px solid #000;

        .img-cover {
          font-size: 0;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .img-cover-b {
          padding-top: 52.03%;

          .btn {
            position: absolute;
            top: 0;
            left: 0;
            padding: 11px 84px 11px 24px;
            font-size: 1.1rem;
            line-height: 1.36em;
          }
        }

        .img-cover-s {
          margin-top: 20px;
          padding-top: 39.51%;
        }

      }

      .hall-right {
        //background-color: #fff;
        border-left: 10px solid #000;
        width: 31%;
        background: url("../image/hall-02.jpg");
        background-size: 100%;
      }
    }

    .hall-bottom {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .hall-img {
        width: 50%;
        background-color: aquamarine;
        border-right: 10px solid #000;
        font-size: 0;

        img {
          width: 100%;
        }

      }

      .right {
        border-left: 10px solid #000;
      }
    }
  }

}

.join-meeting {
  margin-top: 9.55rem;

  .title-bg {
    width: 254px;
    height: 64px;
    background-position: 0px -486px;
  }

  h4 {
    font-size: 1rem;
    line-height: 1em;
    color: #fff;
  }

  p {
    margin: 16px 0 0 0;
    font-size: 0.8rem;
    line-height: 1.5em;
    color: rgb(128, 128, 128);
  }

  .join-top {
    margin-top: 70px;
    display: flex;
    align-items: stretch;
    > div {
      padding: 46px 28px;
      border: 1px solid #383838;
      & + div {
        border-left: 0;
      }
    }

    .step-1 {
      width: 38.18%;
      background: linear-gradient(90deg, #912C36, #D96D21);

      p {
        color: #fff;
      }
    }

    .step-2 {
      width: 23.71%;
    }

    .step-3 {
      flex-grow: 1;
    }

  }
  .join-bottom {
    display: flex;
    align-items: stretch;
    > div {
      width: 25%;
      border: 1px solid #383838;
      border-top: 0;
      padding: 22px 28px;

      & + div {
        border-left: 0;
      }
    }
    .step-4, .step-5 {
      display: flex;
      align-items: center;
    }

    .step-7 {
      position: relative;
    }

    .btn {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      font-weight: bold;
      margin: 0;
      box-sizing: border-box;
    }
  }
}

.first-menu {
  display: none;
  background: linear-gradient(90deg, #912C36, #D96D21);
  position: fixed;
  top: 68px;
  right: 0;
  width: calc(32.4rem + 184px);

  .line {
    padding: 26px 0px 26px 26px;
    display: flex;
    list-style-type: none;
    margin: 0;

    li {
      width: 25%;
      display: flex;
      align-items: center;
    }

    .w-40{
      width: 38%;
    }

    .text {
      margin-left: 12px;
    }

    .zh {
      display: block;
      font-size: 1rem;
      line-height: 1em;
      letter-spacing: 2px;
      font-weight: 500;
    }
    .en {
      padding-top: 4px;
      display: block;
      font-size: 0.7rem;
      line-height: 1em;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }

  .point {
    font-size: 0;
    position: relative;

    .tra {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #964343;
      top: -8px;
      left: 5.7rem;
    }
  }
}

.bot-logo {
  text-align: center;
  padding: 8rem 0 5rem 0;
  img {
    width: 6.55rem;
    height: 5.7rem;
  }
}

.btn {
  color: #fff;
  font-size: 1rem;
  line-height: 1em;
  padding: 20px 32px;
  background: linear-gradient(90deg, #912C36, #D96D21);
}

.button {
  cursor: pointer;
}

.btn-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}

.icon {
  display: inline-block;
  background: url(../image/icon@2x.png);
  background-size: 165px 273px;
}

.icon-addr {
  height: 38px;
  width: 28px;
  //background-position: 278px 172px;
  background-position: 278px 172px;
}

.icon-car {
  height: 35px;
  width: 28px;
  background-position: 232px 172px;
}

.icon-bus {
  height: 30px;
  width: 33px;
  background-position: 189px 167px;
}

.icon-arrow-r {
  height: 18px;
  width: 33px;
  background-position: 317px 124px;
}

.icon-arrow-l {
  transform: rotate(-180deg);
  height: 18px;
  width: 33px;
  background-position: 317px 124px;
}

.icon-zn {
  height: 31px;
  width: 31px;
  background-position: 325px 273px;
  //background-position: 2.7% 0.2%;
}

.icon-sm {
  height: 28px;
  width: 35px;
  background-position: 282px 273px;
}

.icon-cs {
  height: 32px;
  width: 28px;
  background-position: 237px 273px;
}

.icon-ts {
  height: 30px;
  width: 30px;
  background-position: 195px 273px;
}

.icon-yl {
  height: 25px;
  width: 32px;
  background-position: 326px 215px;
}

.icon-kj {
  height: 28px;
  width: 36px;
  background-position: 282px 215px;
}

.icon-sy {
  height: 26px;
  width: 32px;
  background-position: 240px 215px;
}

.icon-wo {
  height: 33px;
  width: 32px;
  background-position: 196px 215px;
}

.icon-down {
  height: 13px;
  width: 26px;
  background-position: 323px 159px;
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  &:hover {
    filter: unset;
  }
}

.title-bg {
  background: url(../image/title.png);
  background-size: 254px 551px;
}
